<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#bs-dropdown class="navbar-brand-dropdown"}}
        {{#bs-dropdown-toggle class="navbar-brand"}}Tree of Savior{{/bs-dropdown-toggle}}
        {{#bs-dropdown-menu}}
          <li class="disabled"><a href="#">The game cannot be changed</a></li>
          <li class="disabled"><a href="#">in this version of GoodieBag.</a></li>
        {{/bs-dropdown-menu}}
      {{/bs-dropdown}}
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {{#active-link}}{{#link-to "index"}}My Addons{{/link-to}}{{/active-link}}
        {{#active-link}}{{#link-to "get-more"}}Get More Addons{{/link-to}}{{/active-link}}
        {{#active-link}}{{#link-to "settings"}}Settings{{/link-to}}{{/active-link}}
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
{{outlet}}
</div>
